* { 
    padding: 0;
    margin: ;
    box-sizing: 0;
    scroll-behavior: smooth;
    margin-top: 0;

}
.fonte {
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



body { 
    height: 200vh;
}

.container{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height:  100vh;
    justify-content: center;
    align-items: center;
}

div#cabecalho{
    background-color: rgb(244, 248, 247);
    width: 100%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    text-align: center;
}
#secao1 {
    background-color: rgb(245, 247, 249);
    width: 100%;
    height:  100vh; }

div#secao2 {
    background-color: rgb(246, 248, 250);
    width: 100%;
    height:  100vh;
}

ul.menu {
    background-color: rgb(0, 0, 0);
    padding: 30px;
    width: 100%;
    height:  100;
    margin: 0;
    
}
ul.menu li{
    display: inline-block;
    list-style: none;
    
}
ul.menu a {
    width: 120px;
    background-color: black;
    color: white;      
    padding: 10px;
    transition: 0.3s;
    border: 1px solid black;
    text-decoration: none;
    justify-content: center;
    display: inline-block;
    
}
ul.menu a:hover {
    background-color: rgb(226, 226, 226);
    color: rgb(162, 5, 5);
    border: 1px solid black;

}
#voltar{
    position: fixed;
    bottom: 55px;
    padding: 20px;
    right: 70px;
    width: 69px;
    height: 69px;
    color: rgb(105, 97, 102);
    background-color: black;
    box-shadow: 3px 2px 10px ;

}

